@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .news .container {
        justify-content: center;
    }

    .news .box {
        max-width: 100%;
    }

    .news .subtitle {
        margin: 20px auto 30px auto;
    }

    .news .desc {
        text-align: justify;
        margin-bottom: 0;
        padding-bottom: 31px;
    }

    .menu li {
        margin: 0 15px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .nav .container {
        justify-content: center;
        flex-direction: column;
    }

    .menu {
        justify-content: center;
        max-width: 500px;
        padding-bottom: 20px;
    }

    .preview .card {
        width: 50%;
    }

    .menu li {
        margin-top: 10px;
    }

    .footer .logo {
        padding-bottom: 18px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .box {
        padding: 0 15px;
    }
}

@media (max-width: 500px) {
    .preview .card {
        width: 100%;
    }

    .preview img {
        order: -1;
    }

    .violet {
        padding-bottom: 15px;
        padding-top: 0;
    }

    .green {
        padding-bottom: 15px;
        padding-top: 0;
    }

    .green img {
        margin-bottom: 8px;
        margin-top: 0;
    }

    .violet img {
        margin-bottom: 8px;
        margin-top: 0;
    }
}